.dark {
  --md-sys-color-primary: rgb(255 180 164);
  --md-sys-color-surface-tint: rgb(255 180 164);
  --md-sys-color-on-primary: rgb(86 31 19);
  --md-sys-color-primary-container: rgb(115 52 39);
  --md-sys-color-on-primary-container: rgb(255 218 211);
  --md-sys-color-secondary: rgb(231 189 180);
  --md-sys-color-on-secondary: rgb(68 42 36);
  --md-sys-color-secondary-container: rgb(93 63 57);
  --md-sys-color-on-secondary-container: rgb(255 218 211);
  --md-sys-color-tertiary: rgb(219 196 140);
  --md-sys-color-on-tertiary: rgb(60 47 4);
  --md-sys-color-tertiary-container: rgb(84 69 25);
  --md-sys-color-on-tertiary-container: rgb(248 224 166);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(26 17 15);
  --md-sys-color-on-background: rgb(241 223 219);
  --md-sys-color-surface: rgb(26 17 15);
  --md-sys-color-on-surface: rgb(241 223 219);
  --md-sys-color-surface-variant: rgb(83 67 64);
  --md-sys-color-on-surface-variant: rgb(216 194 189);
  --md-sys-color-outline: rgb(160 140 136);
  --md-sys-color-outline-variant: rgb(83 67 64);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(241 223 219);
  --md-sys-color-inverse-on-surface: rgb(57 46 44);
  --md-sys-color-inverse-primary: rgb(144 75 60);
  --md-sys-color-primary-fixed: rgb(255 218 211);
  --md-sys-color-on-primary-fixed: rgb(58 10 3);
  --md-sys-color-primary-fixed-dim: rgb(255 180 164);
  --md-sys-color-on-primary-fixed-variant: rgb(115 52 39);
  --md-sys-color-secondary-fixed: rgb(255 218 211);
  --md-sys-color-on-secondary-fixed: rgb(44 21 16);
  --md-sys-color-secondary-fixed-dim: rgb(231 189 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(93 63 57);
  --md-sys-color-tertiary-fixed: rgb(248 224 166);
  --md-sys-color-on-tertiary-fixed: rgb(36 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(219 196 140);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 69 25);
  --md-sys-color-surface-dim: rgb(26 17 15);
  --md-sys-color-surface-bright: rgb(66 55 52);
  --md-sys-color-surface-container-lowest: rgb(20 12 10);
  --md-sys-color-surface-container-low: rgb(35 25 23);
  --md-sys-color-surface-container: rgb(39 29 27);
  --md-sys-color-surface-container-high: rgb(50 40 37);
  --md-sys-color-surface-container-highest: rgb(61 50 48);
}
